<h1>Your Cart</h1>
<br><br>

<% if @cart.empty? %>
<p></p>
<% else %>
    <%= link_to 'Empty your Cart', cart_clear_path %>
<% end %>

<br><br><br>

<% total = 0 %>

<ul>
<% @cart.each do | id, quantity | %>
            <% product = Product.find_by_id(id) %>
        
            <li>
                <%= link_to product.title, product %>
                <p><%= product.description %></p>
                <p><%= number_to_currency(product.price, :unit => '€') %></p>
                <p>Quantity: <%= quantity %></p>
            </li><br>
            <% total += quantity * product.price %>
            
    <% end %>
<p><b>Total: <%= number_to_currency(total, :unit => '€') %></b></p><br>

<%= link_to "Go to checkout!", :controller => "charges", :action => "new" %>

</form>

</ul>
